<h1 class="display-4">Orders</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Serial No</th>
            <th>Food Name</th>
            <th>qty</th>
            <th>Total</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% orders.forEach(function(order){ %>
            <tr>
                <td><%= order.doc._id %></td>
                <td><%= order.doc.name %></td>
                <td><%= order.doc.qty %></td>  
                <td><%= order.doc.total %></td>  
                <td><%= order.doc.status %></td>  
                <td>
                    <a href="/order/orderedit?id=<%= order.doc._id %>" class="btn btn-primary">edit</a>
                    <form action="/order/orderdelete?id=<%= order.doc._id %>" method="post" class="d-inline">
                        <input type="submit" value="delete" class="btn btn-danger">
                    </form>
                </td>          
            </tr>
        <% }); %>
    </tbody>
</table>